    <section id="papers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Deliverables and Papers</h2>
                    <h3 class="section-subheading text-muted">In the following the list of Deliverables and Papers produced by the project</h3>
                </div>
            </div>
            <div class="row">

                
            <!-- foreach document -->
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="/files/deliverable_wp1.pdf" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <!--<i class="fa fa-plus fa-3x"></i>--><i class="fa-solid fa-1"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/head.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Deliverable on WP1</h4>
                        <p class="text-muted">WP1: Data collection, clustering of stories and categorization of sub-narratives</p>
                    </div>
                </div>
            <!-- end foreach document -->
            <!-- foreach document -->
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="/files/deliverable_wp2.pdf" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <!--<i class="fa fa-plus fa-3x"></i>--><i class="fa-solid fa-2"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/head.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Deliverable on WP2</h4>
                        <p class="text-muted">WP2: Content-based analysis of stories and sub-narratives</p>
                    </div>
                </div>
            <!-- end foreach document -->
            <!-- foreach document -->
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="/files/deliverable_wp3.pdf" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <!--<i class="fa fa-plus fa-3x"></i>--><i class="fa-solid fa-3"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/head.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Deliverable on WP3</h4>
                        <p class="text-muted">WP3: Network-based analysis of manipulation of sub-narratives</p>
                    </div>
                </div>
            <!-- end foreach document -->
                        <!-- foreach document -->
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <a href="/files/deliverable_wp4.pdf" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <!--<i class="fa fa-plus fa-3x"></i>--><i class="fa-solid fa-4"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/head.png" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Deliverable on WP4</h4>
                        <p class="text-muted">WP4: Integration of content- and network-based approaches to measure manipulation of online information</p>
                    </div>
                </div>
            <!-- end foreach document -->
            </div>
        </div>
    </section>


<!-- Portfolio Grid Section -- >
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
-->
