<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About the DEMON Project</h2>
                    <h3 class="section-subheading text-muted">In a variegated ecosystem of online news, opinions and facts, we move away from a traditional and established research
setting – which focuses on automatically classifying pieces of content that can be only either true or false – and consider the problem
of characterizing how the variety of information shared through online channels can be manipulated from both a content and social
network perspective.
To study information manipulation we plan to adapt and extend techniques from NLP (to automatically process text) and
data/network science (to study information diffusion in online social networks), such as to eventually detect and evaluate the extent
to which specific stories – originated by news outlets, government bodies and other public influential figures – are being exploited or
weaponized by (malicious) actors in the online information ecosystem, as opposed to more organic patterns of sharing and
interactions.
The resulting framework will pave the way to a better understanding of the broader implications of online information in the real
world, allowing to face situations where the spreading of potentially harmful information can be critical.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science</h4>
                    <p class="text-muted">Data collection, clustering of stories and categorization of sub-narratives.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Natural Language Processing</h4>
                    <p class="text-muted">Content-based analysis of manipulation of sub-narratives.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social Network Analysis</h4>
                    <p class="text-muted">Network-based analysis of manipulation of sub-narratives.</p>
                </div>
            </div>
        </div>
    </section>
